[Unit]
Description=Preinstall Flatpaks
After=network-online.target
Wants=network-online.target
ConditionPathExists=/usr/bin/flatpak
ConditionPathExists=!/var/lib/flatpak-preinstall.done
Documentation=man:flatpak-preinstall(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak preinstall -y
ExecStartPost=/usr/bin/touch /var/lib/flatpak-preinstall.done
RemainAfterExit=true
Restart=on-failure
RestartSec=30

StartLimitIntervalSec=600
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
