[Unit]
Description=Enable libvirtd service
After=local-fs.target
ConditionPathExists=/usr/lib/systemd/system/libvirtd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/libvirtd-setup.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
SyslogIdentifier=libvirtd-setup

[Install]
WantedBy=multi-user.target
