[Unit]
Description=Fix hostname
After=local-fs.target
ConditionFirstBoot=true

[Service]
Type=oneshot
ExecStart=/usr/bin/hostnamectl hostname "goose"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
